<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
      Quản lý shop
      <small>(55)</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Quản lý shop</a></li>
      <li class="active">Danh sách shop</li>
    </ol>
  </section>

<!-- Main content -->
<section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Danh sách shop</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <table id="example2" class="table table-bordered table-hover">
              <thead>
              <tr>
                <th>#</th>
                <th>Tên shop</th>
                <th>Email</th>
                <th>Số điện thoại</th>
                <th>Địa chỉ</th>
                <th>Web site</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>1</td>
                <td>Shop 123 Online</td>
                <td>hoangchuyen145@gmail.com</td>
                <td>0945 181 499</td>
                <td>Tân Bình</td>
                <td>shop123.com</td>
              </tr>
              <tr>
                  <td>2</td>
                  <td>Bán hàng Online</td>
                  <td>hoangchuyen145@gmail.com</td>
                  <td>0945 181 666</td>
                  <td>Thủ Đức</td>
                  <td>banhangonline.com</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
