<div class="form-body">
  <div class="row">
    <div class="col-sm-12">
      <span class="btn btn-primary fileinput-button">
                                            <i class="fa fa-plus"></i>
                                            <span> Add image </span>
      <input [disabled]="allow_add" #image_upload_picker id="image_upload_picker" type="file" accept="image/*" multiple (change)="select($event)">

      </span>

    </div>
    <div class="col-sm-12 image-upload-preview" *ngIf="files!=undefined&&files!=null">
      <div *ngFor="let item of files; let i = index;" class="item">
        <div class="image-holder">
          <img *ngIf="item.display_url?.split('.').pop()!='pdf'" src="{{item.display_url}}" />
          <img *ngIf="item.display_url?.split('.').pop()=='pdf'" src="assets/images/pdf-icon.png" />
          <div class="btn-del-img"><a (click)="removeFile(item, i)">Delete</a></div>
          <div *ngIf="item.display_url?.split('.').pop()=='pdf'">{{item.display_url}}</div>
          <div class="progress" *ngIf="item.progress != undefined && item.progress != null && item.progress != 0">
            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': item.progress + '%'}"
              [ngClass]="{'progress-bar-success':item.progress==100}">
              {{item.progress}}%
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="error_message != null" class="col-sm-12" style="clear:both">
      <span class="text-danger">{{error_message}}</span>
    </div>
    <div *ngIf="success_message != null" class="col-sm-12" style="clear:both">
      <p class="text-danger">{{success_message}}</p>
    </div>
  </div>
</div>
