<section class="content">
  <div class="box box-info login_custom">
    <div class="box-header with-border">
      <h3 class="box-title">Đăng nhập</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form class="form-horizontal form_login_custom">
      <div class="box-body">
        <div class="form-group">
          <div class="col-sm-12">
            <input type="text" [(ngModel)]="modelLogin.userName" required name="userName" 
            #userName="ngModel" class="form-control" id="userName" placeholder="Tên đăng nhập">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <input type="password" [(ngModel)]="modelLogin.passWord" required name="passWord" 
            #passWord="ngModel"class="form-control" id="passWord" placeholder="Mật khẩu">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <div class="checkbox">
              <label>
                <input type="checkbox"> Ghi nhớ đăng nhập
              </label>
            </div>
          </div>
        </div>
      </div>
      <!-- /.box-body -->
      <div class="box-footer">
        <button type="submit" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-info pull-right" (click)="Login()">Đăng nhập</button>
      </div>
      <!-- /.box-footer -->
    </form>
  </div>
</section>