<style>
    .has-danger {
        border-color: red; 
    }

    .control-label.required:after { 
        color: #d00;
        content: "*";
        position: absolute;
        margin-left: 5px;
        top:7px;
    }
</style>

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Quản lý loại tệp ảnh
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <i class="fa fa-dashboard"></i> Quản lý loại tệp ảnh</a>
        </li>
        <li class="active">Cập nhật thông tin loại tệp ảnh</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="box box-info login_custom">
            <div class="box-header with-border">
                <h3 class="box-title">{{ Id == 0 ? 'Thêm  mới thông tin loại tệp ảnh' : 'Cập nhật thông tin loại tệp ảnh' }}</h3>
                <small>
                    <i class="fa fa-arrow-circle-left"></i>
                    <a routerLink="/phototype">back to phototype list</a>
                </small>
                <div class="pull-right">
                    <!-- <button type="submit" class="btn btn-default" routerLink="/phototype">Trờ về</button> -->
                    <button type="submit" name="save" class="btn bg-blue" (click)="Save(0)">
                        <i class="fa fa-floppy-o"></i>
                        Save
                    </button>
                    <button type="submit" name="save-continue" class="btn bg-blue" (click)="Save(1)">
                        <i class="fa fa-floppy-o"></i>
                        Save and Continue Edit
                    </button>
                    <!-- <button type="submit" class="btn btn-info" (click)="Save()">Save</button> -->
                </div>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal">
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-6 col-md-offset-3">
                            <div class="form-group">
                                <label for="Name" class="control-label">Name</label>

                                <input type="text" [(ngModel)]="model.Name" required name="Name" 
                                #Name="ngModel" [ngClass]="{
                                    'has-danger': Name.invalid && Name.dirty,
                                    'has-success': Name.valid && Name.dirty
                                  }" class="form-control" id="Name" placeholder="Nhập tên loại tệp ảnh">
                            
                                <div *ngIf="Name.invalid && ( Name.dirty || Name.touched )" class="alert alert danger">
                                    <div style="color: red;" *ngIf="Name.errors.required">Name is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-offset-3">
                            <div class="form-group">
                                <label for="ShortName" class="control-label">ShortName</label>

                                <input type="text" [(ngModel)]="model.ShortName" required name="ShortName" 
                                #ShortName="ngModel" [ngClass]="{
                                    'has-danger': ShortName.invalid && ShortName.dirty,
                                    'has-success': ShortName.valid && ShortName.dirty
                                  }" class="form-control" id="ShortName" placeholder="Nhập tên loại tệp ảnh">
                            
                                <div *ngIf="ShortName.invalid && ( ShortName.dirty || ShortName.touched )" class="alert alert danger">
                                    <div style="color: red;" *ngIf="ShortName.errors.required">ShortName is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-offset-3">
                            <div class="form-group">
                                <label for="Width" class="control-label">Width</label>

                                <input type="number" [(ngModel)]="model.Width" required name="Width" 
                                #Width="ngModel" [ngClass]="{
                                    'has-danger': Width.invalid && Width.dirty,
                                    'has-success': Width.valid && Width.dirty
                                  }" class="form-control" id="Width" placeholder="Nhập tên loại tệp ảnh">
                            
                                <div *ngIf="Width.invalid && ( Width.dirty || Width.touched )" class="alert alert danger">
                                    <div style="color: red;" *ngIf="Width.errors.required">Width is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-offset-3">
                            <div class="form-group">
                                <label for="Height" class="control-label">Height</label>

                                <input type="number" [(ngModel)]="model.Height" required name="Height" 
                                #Height="ngModel" [ngClass]="{
                                    'has-danger': Height.invalid && Height.dirty,
                                    'has-success': Height.valid && Height.dirty
                                  }" class="form-control" id="Height" placeholder="Nhập tên loại tệp ảnh">
                            
                                <div *ngIf="Height.invalid && ( Height.dirty || Height.touched )" class="alert alert danger">
                                    <div style="color: red;" *ngIf="Height.errors.required">Height is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->